/*部分柯林默认样式及修改过的样式*
*作者:素锦文学社  雪月青
*2013年12月
*/
titleview
{
	text-align: center;
} 
.nexttitle{
	margin-top: 8px;
}
.nexttitle a{
	font-size: 15px;
	width: 100%;
	border-bottom: 1px dashed #D9D9D9;
	display: block;
	height:28px;
	line-height:28px;
}
input[type = "submit"] {
   cursor:pointer;
   -webkit-appearance:button;
   -moz-appearance:button
}
.viewtitle{
	height:36px;
	line-height:36px;
	padding-left:8px;
	padding-right:8px;
	font-weight:400;
	font-size:18px;}
.subtitle { height:36px; padding-left:12px; background:#F93; line-height:36px;}
.showpage{
	background: #84c1ff;
	text-align: right;
	padding: 5px;
}
.showpage a{
	margin-right: 14px;
	background-color: #E6E6E6;
    padding: 3px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.line1,.line2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
	padding: 5px;
	background-color: #EFEFEF;
}
.content{
	padding-left:15px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.tip {
	text-align: center;
	padding: 5px;
	background-color: #E6E6E6;
	border: 1px solid #B9B9B9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	margin: 5px;
}
.btn:hover { border-color: #17539C; background: #2C79D1; background-image: -webkit-gradient(linear, left top, left bottom, from( #47A4E9 ), to( #2C79D1 )); background-image: -webkit-linear-gradient( #47A4E9, #2C79D1 ); background-image: -moz-linear-gradient( #47A4E9, #2C79D1 ); background-image: -ms-linear-gradient( #47A4E9, #2C79D1 ); background-image: -o-linear-gradient( #47A4E9, #2C79D1 ); background-image: linear-gradient( #47A4E9, ##2C79D1 ); text-shadow: 0 0 1px #17539C; box-shadow: 0 1px 1px #B0D9F4 inset; color: #FFF; cursor: pointer; }
