@charset "UTF-8";
/*reset*/
html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; -ms-touch-action: none;}
body { margin: 0; font-size: 1.4rem; line-height: 1; color: #4f4f4f; background-color: white; overflow: hidden;-webkit-overflow-scrolling: touch;   }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0.2); color: #4f4f4f; }
a:active { outline: 0; }
a:active { color: #4f4f4f; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
em,i,cite { font-style: normal;}
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; -webkit-tap-highlight-color:rgba(0,0,0,0); }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #bbb; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #bbb; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #bbb; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{word-wrap: break-word; word-break: break-all;}
/*common*/
.fixed:after { content:""; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0;  line-height: 0; }


.flex-center {
  /*内容水平垂直居中*/
  display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.justify {
  /*内容两端对齐*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/**/
.flex-left-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flexbox {
  /*弹性布局*/
  display:-moz-box; display:-webkit-box;display:box;width:100%;
}
.flexbox .flex {
  /*弹性布局子元素*/
  -webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;
}
.flex-vertical {
  /*弹性垂直布局*/
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.oh { overflow: hidden;}
.hide { display: none;}
.m-elli,.ui-elli { white-space: nowrap; overflow:hidden;text-overflow:ellipsis; }


.fl {float:left;}
.fr {float:right;}
.tc { text-align: center;}
.tr { text-align: right;}
.pad-5 { padding: 5px;}
.pad-10 { padding: 10px;}
.pad-15 { padding: 15px;}
.pad-20 { padding: 20px;}
.padv-20 { padding-top: 20px; padding-bottom: 20px;}
.padv-30 { padding-top: 30px; padding-bottom: 30px;}
.mt-5 { margin-top: 5px;}
.mt-10 { margin-top: 10px;}
.mb-10 { margin-bottom: 10px;}
.mt-15 { margin-top: 15px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}
.fc-green { color: #23c768 !important;}
.fc-red { color: #e6594b !important;}
.fc-gray { color: #bbb !important;}
.fc-g9 { color: #999 !important;}
.fs-12 { font-size: 1.2rem !important;}
.fs-13 { font-size: 1.3rem !important;}
.fs-14 { font-size: 1.4rem !important;}
.fs-16 { font-size: 1.6rem !important;}
.fs-18 { font-size: 1.8rem !important;}
.fs-20 { font-size: 2rem !important;}


.body-ec { background-color: #f0f1f3;}
.body-f2 { background-color: #f2f2f2;}
.body-f5 { background-color: #f5f5f5;}
.body-f8 { background-color: #f8f8f8;}
.body-f { background-color: #fff;}
.body-e5 { background-color: #e5e5e5;}

/*iconfont*/
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0px; /*0.2px*/
  -moz-osx-font-smoothing: grayscale;
}
.iconfont { font-family:"iconfont"!important;}

/*anim 公用动画*/
.m-anim {
  -webkit-transition: -webkit-transform 300ms ease;
  -webkit-transition-duration: 300ms;
  -moz-transition: -moz-transform 300ms ease;
  transition: transform 300ms ease;
}

/*布局、header  */
.m-pagecont { z-index: 1; position: absolute; width: 100%; left: 0; top: 44px; bottom: 0; overflow: auto; -webkit-overflow-scrolling: touch;}
@media screen and (min-width:800px) {
  .m-pagecont { width: 540px; left: 50%; margin-left: -270px;}
  .m-pagecont2 { width: 540px; margin: 0 auto; }
  body { background: #f0f1f3;}
}
.m-topbarbox { height: 44px; width: 100%; position: absolute; right: 0; left: 0; z-index: 9998; top: 0;}
.m-topbar {
  height: 44px; line-height: 44px; background: #f8f8f8; position: absolute; width: 100%; left: 0; top: 0;
  box-shadow: 0 1px 2px #cfcfcf; color: #5f5f5f;z-index: 9998;
}
.m-topbar .m-left,.m-topbar .m-right { background: #f8f8f8; position: absolute; height: 100%;  top: 0;}
.m-topbar .m-left { left: 0;}
.m-topbar .m-right { right: 0;}
.m-topbar .m-goback { font-size: 1.5rem; padding: 0 5px; float: left;display: block; height: 100%;  position: relative; color: #6f6f6f;}
.m-topbar .m-goback .iconfont { font-size: 2rem; color: #6f6f6f;}
.m-topbar .m-gocard {  padding: 0 10px; float: left;display: block; height: 100%; }
.m-topbar .m-gocard .iconfont:after { content: "\e64b";  float: left; font-size: 3rem; color: #1f8ff3; margin-left: -2px;}
.m-topbar .m-tlebox { overflow: hidden; text-align: center; /*padding: 0 50px;*/}
.m-topbar .m-tlebox h1 { font-size: 1.8rem; line-height: 44px;white-space: nowrap; overflow:hidden;text-overflow:ellipsis; font-weight: bold;}
.m-topbar .m-moremenu { float: right;display: block; height: 100%; width: 60px; text-align: center; padding: 0 10px 0 20px; }
.m-topbar .m-moremenu .iconfont { font-size: 2.4rem;position: relative;}
.m-topbar .m-moremenu .m-new { position: absolute; right: -4px; top: -4px; background-color: #f46200; border-radius: 8px; width: 8px; height: 8px; }
.m-menubox { padding: 15px 10px; background: rgba(255,255,255,0.95); position: absolute; left: 0; top: 0;width: 100%;line-height: 1;box-shadow: 0 1px 2px #cfcfcf; z-index: 9997;
  transition:transform 0.2s ease-in;
  -webkit-transition:-webkit-transform 0.2s ease-in;
  transform: translateY(-145px);
  -webkit-transform: translateY(-145px);
}
.m-menubox.active {
  transform: translateY(45px);
  -webkit-transform: translateY(45px);
}
.m-topbar .ic-back:after{content:'\e615';}
.m-topbar .ic-more:after{content:'\e614';}

.m-topbarbox .ic-mycode:after{content: "\e617"; }
.m-topbarbox .ic-vshop:after{content: "\e6bc"; }
.m-topbarbox .ic-quit:after{content: "\e619"; }

.m-menubox ul{  display:-moz-box; display:-webkit-box;display:box;width:100%;}
.m-menubox li { padding: 0 10px; -webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1; text-align: center;}
.m-menubox li .name { font-size: 1.3rem; padding-top: 10px; color: #5f5f5f;}
.m-menubox .menu-link { display: block;}
.m-menubox .menu-link span { display: inline-block; text-align: center; line-height: 46px; width: 46px; height: 46px; border:solid 1px #bbb; border-radius: 4px; position: relative;}
.m-menubox .menu-link .iconfont { font-size: 3.2rem; color: #a1a1a1;}
.m-menubox .badge { position: absolute; right: -10px; top: -8px; color: #fff; background: #f46200; font-size: 1.3rem; padding: 0 6px; border-radius:16px; line-height: 17px; min-width: 20px; text-align: center; }
.m-menuboxbg { display: none; width: 100%; position: fixed;  left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.1); z-index: 9997; overflow: hidden; }
.m-menuboxbg.active { display: block;}

/*提示样式*/
/*ui-toast*/
.ui-toast {
  position: absolute; z-index: 10003;  text-align: center; text-align: center; top: 70%;  width: 100%; left: 0; display: none; font-size: 1.6rem; line-height: 1.2;
}
.ui-toast.active { display: block;-webkit-animation: fadeInOut 3s linear forwards;}
.ui-toast .toast-cont {
  background: rgba(0,0,0,0.8); border: solid 1px #000; border-radius: 4px; color: #fff; display: inline-block; padding: 10px 20px; -webkit-box-shadow:0 0 12px rgba(0,0,0,.3); box-shadow:0 0 12px rgba(0,0,0,.3); text-align: left; max-width: 90%;
}
.ui-toast-icon { top: 40%;}
.ui-toast-icon i { display: block; text-align: center; font-size: 4rem;}
.ui-toast-icon i:after { content: "\e630";}
