/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;  text-align:center; margin:0 auto;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; text-decoration:underline;}
.box-163css{ width:610px; margin:0 auto;}
#more{margin:10px auto;width:590px; float:left; padding:10px;  border: 1px solid #999;}                  
.single_item{ width:126px; float:left; height:160px; margin:0 10px;}
.single_item img{ width:120px; height:90px; padding:1px; border:1px solid #ccc; margin-bottom:5px;}   
.single_item a{ font-size:12px;}
.author{position: absolute; left: 0px; font-weight:bold; color:#39f}   
.date{position: absolute; right: 0px; color:#999}   
.content{line-height:20px; word-break: break-all;}   
.element_head{width: 100%; position: relative; height: 20px;}   
.get_more{margin:10px; text-align:center; clear:both; padding:10px 0; outline:none;}   
.more_loader_spinner{width:20px; height:20px; clear:both; text-align:center; margin:0 auto; background: url(images/loader.gif) no-repeat;} 
.title{ font-weight:normal; line-height:16px;} 