/**************************************************************************************
         *************************自定义基本元素样式定义表***************************************************************/
.head{ height:59px; overflow: hidden; position: relative; text-align: center; line-height: 59px }
.head .head_nav{font-size: 44px; width: 55px; height: 59px; position: absolute; left: 0; top: 0;}
.head .head_logo{ width: 120px; height: 69px; position: absolute; left: 50%; top: 10px; margin-left: -80px;}
.head .head_seach{ font-size: 28px; width: 90px; height: 64px; position: absolute; right: 0; top: 0;}
.head .head_seach i{ display: inline-block; width: 40px;}
.head .head_seach .icon-search{ margin-left: 10px;}

/**顶部滑动菜单**/
#wrap{ margin-top: 5px;}
/** 一级导航样式 */
.ui-navigator {border-top: 1px solid #2468c9; border-bottom: 1px solid #0145a5; background:#2773dc;}
.ui-navigator-list { width: 100%;  display: -webkit-box;}
.ui-navigator-list li { height:45px; line-height:45px;font-size:16px;display: inline-block; white-space:nowrap;/*内容不换行*/ width:30px;font-weight: 500;text-align: center; -webkit-box-flex: 1; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
.ui-navigator-list li a { text-decoration: none; color: #ffffff; display: block;width: 100%;  -webkit-box-sizing:border-box; padding: 0 15px;}
.ui-navigator-list li.ui-state-hover,
.ui-navigator-list li.ui-state-active { background: #0c4da8;}
.ui-scroller { position: relative; padding: 0;margin: 0; display: inline-block;/*重要，靠他让宽度由子节点撑开*/}
.ui-scroller .ui-navigator-list {display: table;table-layout: fixed;/*宽度可控*/ white-space:nowrap;/*内容不换行*/width: auto;}
.ui-scroller .ui-navigator-list:after { content: '';clear: both; display: inline-block; width: 0; height: 0; overflow: hidden;}
.ui-scroller .ui-navigator-list li { display: inline-block;   /*float: left;*/}
#arrow {width: 30px;-webkit-box-flex: 0;-webkit-box-align: center;-webkit-box-pack: center; display: -webkit-box;}
.ui-scroller {float: left;}
/**活动播报样式**/
.gonggao_box{ background: #DEDEDE; height: 34px; overflow: hidden; margin: 10px 0; line-height: 34px;}
.gonggao_box h2{ background: #2468c9; color: #FEFEFE; font-size: 14px; font-weight: normal; display: inline; padding: 3px; margin: 0 10px; float: left;}
.gonggao_box .gonggao_list{ position: relative;}
.gonggao_box .gonggao_list .gonggao_ul{ position: absolute; left: 80px;}

/**热门内容样式**/
.hot_box{ position: relative;}
.hot_box span{ font-size: 28px; color: #FF0000; position: absolute; top: -5px; right: 0;}
.hot_box .hot_pages{ position: absolute; bottom: 0; right: 5px; font-size: 16px; font-weight:700;}
.hot_box .hot_title{ height: 34px; line-height: 34px; }
.hot_box .hot_title h2{ font-size: 16px; margin-left: 10px; position: relative;}
.hot_box .hot_title h2:before{ position: absolute; left: -10px; top: 50%; margin-top: -10px; width: 5px; content: ""; height: 16px; background:#0c4da8;}
.hot_contents_box { position: relative; overflow: hidden;}
.hot_contents{ line-height: 28px; font-size: 14px; position: absolute; top: 0; left: 0; width: 90%;}
.hot_contents li{ border-bottom: 1px dashed #BEBEBE; padding: 5px;}

/**轮播插件**/
.ui-slider-item {height: 148px;}
.ui-slider-item img {background:#E7E7E7 url(ui-slider-imgbg.png) center center no-repeat;}
.ui-slider-item > a {display: block;text-decoration: none; /*由于slide-item有3d属性，导致android上最后一个overflow:hidden无效，所以给子集也加个overflow:hidden;*/width: 100%; height: 100%; overflow: hidden;}
.ui-slider-item > p {position: absolute;bottom: 0;width: 100%;text-align: left; pointer-events: none;overflow: hidden;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;color: #fff;background: rgba(0, 0, 0, 0.5);padding: 6px 0;text-indent: 10px;}
.ui-slider-dots { position: absolute; bottom: 6px; right: 0; padding: 0 6px; text-align: right;}
.ui-slider-dots  b { display: inline-block; margin: 0 4px; width: 6px; height: 6px; border-radius: 3px; background: rgba(144, 144, 144, 0.8);}
.ui-slider-dots .ui-state-active {background: #fff;}
.ui-slider-pre, .ui-slider-next { position: absolute; z-index: 99;width: 50px;  height: 60px;top:50%;left: 0; margin-top: -30px;outline: none;}
.ui-slider-next { right: 0;left: auto;}
.ui-slider-pre:after, .ui-slider-next:after { position: absolute;width: 20px; height: 40px; background-size: 35px 15px; outline: none; content: '\0020'; display: inline-block; background: rgba(0, 0, 0, 0.3) url(ui-slider-arrow.png) no-repeat 3px center; left: 0;top: 50%; margin-top: -20px;border-radius: 0 20px 20px 0;}
.ui-slider-next:after { background-position: -48px center; right: 0; left: auto; border-radius: 20px 0 0 20px;}
/*css for pad*/
@media all and (min-device-width:768px) and (max-device-width: 1024px){
    .ui-slider-item > p {font-size: 16px; padding: .5em 0;text-indent: .8em; }
    .ui-slider-dots {  bottom:.5em; padding-right: .5em;}
    .ui-slider-dots b {    margin-right: .5em; width: .5em;height: .5em; border-radius: .25em; }
}
.ui-slider {width: 100%; overflow: hidden; position: relative; -webkit-user-select: none; -webkit-touch-callout:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.ui-slider-group { overflow: hidden; position: relative;white-space:nowrap;/*内容不换行*/ -webkit-transform: translateZ(0);}
.ui-slider-item { background-color: #e3e3e3; text-align: center; position: relative; float:left; overflow: hidden; -webkit-box-sizing:border-box;}
/**pic_index**/
.pic_index .list6 { position: relative; z-index: 0; }
.pic_index .list6 li { position: relative; margin:0;}
.pic_index .list6 li img { width: 100%; height: 152px; display: block; }
.pic_index .list6 li a { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.pic_index .list6 li a p { width: auto !important; left: 0; right: 0; bottom: 0; position: absolute;}


/**图文样式**/
.new_article ul li:before{ content: "最新"; position: absolute; top: 0; left: 0; width: 30px; height: 20px; line-height: 20px; text-align: center;color: #FFFAAA;}
.new_article ul li:nth-of-type(1):before{ background: #0CC; }
.new_article ul li:nth-of-type(2):before{ background: #06F; }
.new_article ul li:nth-of-type(3):before{ background: #C30; }
.new_article ul li:nth-of-type(4):before{ background: #F30; }
.new_article ul li:nth-of-type(5):before{ background: #690; }
.new_article ul li:nth-of-type(6):before{ background: #36F; }
.new_article ul li:nth-of-type(7):before{ background: #0CC; }
.list7-1 > div{ background: #FEFEFE;}
.list7-1 ul li{ position: relative; overflow: hidden; height: 90px; margin: 5px 0; padding: 5px 0; border-bottom: 1px solid #BEBEBE;}
.list7-1 .con7_tit{ position: absolute; left: 110px; top: 0; height: 28px; line-height: 20px; font-family: 'kaiti';font-weight: bold; font-size:  14px; word-break: normal; white-space:nowrap;}
.list7-1 ul li a .cont span{ position: absolute; left: 110px; top: 24px; font-family: "Microsoft Yahei", Arial; font-size: 12px; color: #555; line-height: 24px;background-image: none;}
.list7-1 .cont img{ position: absolute; left: 0; top: 50%; margin-top: -30px; border: 1px solid #BEBEBE; border-radius: 5px;}
.list7-1 #thistime{ display: block;}

/**旋转menu**/
.header{
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */transform: translateZ(0) translateX(0) rotateY(0deg); transition:all 300ms ease;overflow:scroll; overflow-x:hidden; opacity:1;}
.header-clear{height:60px; opacity:0; transition:all 400ms ease;	}
.header-clear i{ font-size:24px;width:60px; height:60px;margin-left: 20px;text-align:center; line-height:60px;}
.animate .header{ -webkit-transform: translateZ(0) translateX(0) translateY(-60px); /* reset transforms (Chrome bug) */ transform: translateZ(0) translateX(0) translateY(-60px); opacity:0.5; transition:all 300ms ease;}
.animate .header-clear{opacity:1; transition:all 400ms ease;}
@media (min-width:768px){
    .all-elements{ background-color:#000000; }
    #perspective{ width:99%;overflow:visible;margin-left:0.5%; }
    .effect-airbnb { width:110%;}
    .perspective_container{ background-color:#FFFFFF; }
   body{background-color:#000000;}
}

.nav-item a{ color:#CCC; font-family:'Roboto', sans-serif;  font-size:14px; padding-bottom:13px;  padding-top:13px;font-weight:400!important;transition:all 400ms ease!important;}
.nav-item a:hover{ color:#FFFFFF; transition:all 400ms ease!important;}
.nav-sub-item{padding-left:55px;display:none;}
.nav-sub-item a{ font-size:12px; padding-bottom:10px; padding-top:10px; opacity:0.5!important;}
.nav-icon{ margin-right:20px; font-size:17px;margin-top:2px; width:20px; text-align:center;}
.nav-icon-selected{ position:absolute; left:0; top:20px; font-size:10px;color:#FFFFFF;}
@media (min-width:768px){
    .nav-item a{ font-size:16px;padding-top:20px; padding-bottom:20px; }
    .nav-sub-item a{ padding-bottom:15px; padding-top:15px; font-size:14px; }
    .outer-nav{top:48%!important; }
}
html, body, .perspective {width: 100%;height: 100%;}
.perspective{ overflow:visible; background: #aaa;}
.perspective_container {background: #fff; min-height: 100%; position: relative; outline: 1px solid rgba(0,0,0,0); z-index: 10;  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */ transform: translateZ(0) translateX(0) rotateY(0deg);}
.perspective_container::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 0; opacity: 0; background: rgba(0,0,0,0.2);/* the transition delay of the height needs to be synced with the perspective_container transition time */  -webkit-transition: opacity 0.4s, height 0s 0.4s; transition: opacity 0.4s, height 0s 0.4s;}
.wrapper {position: relative;overflow:scroll;overflow-x:hidden;}
.component {  margin: 0 auto;width: 60%; text-align: justify; font-size: 1.5em;}
/* Modal view */
.perspective.modalview { position: fixed; -webkit-perspective: 1500px; perspective: 1500px;}
.modalview .perspective_container { position: absolute; overflow: hidden; width: 100%; height: 100%; cursor: pointer;webkit-backface-visibility: hidden; backface-visibility: hidden;}
.modalview .wrapper { -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */}
.animate .perspective_container::after { opacity: 1; height: 101%;-webkit-transition: opacity 0.3s;transition: opacity 0.3s;}
/* Outer Nav */
.outer-nav { position: absolute; top: 51%; -webkit-transform: translateY(-50%);transform: translateY(-50%);-webkit-transform-style: preserve-3d; transform-style: preserve-3d; overflow:scroll;overflow-x:hidden; width:250px; height:71%; transition:all 500ms ease; -webkit-transform: translateY(-50%);transform: translateY(-50%); -webkit-transform-style: preserve-3d; transform-style: preserve-3d;}
.outer-nav::-webkit-scrollbar {display: none;}
.inner-nav{width:280px;overflow:hidden;}
.inner-nav a{ margin-bottom:0; margin-top:0; padding-left:23%; display:block;width:100%; text-decoration:none;}
.outer-nav a {display: inline-block;  white-space: nowrap; font-weight: 300;color: #cacaca; -webkit-transition: color 0.3s; transition: color 0.3s; -webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
.outer-nav a:hover {color: #FFFFFF;}
.outer-nav a::before { display: inline-block;font-family: 'typicons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;  margin-right: 10px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;-webkit-backface-visibility: hidden; backface-visibility: hidden;}
/* Effect airbnb */
.effect-airbnb {background-image:url(bgp.png); background-size:cover;}
@media (max-width:760px){
    .effect-airbnb .perspective_container {-webkit-transition: -webkit-transform 0.4s; transition: transform 0.4s; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
    .effect-airbnb.animate .perspective_container {-webkit-transform: translateZ(-100px) translateX(65%) rotateY(-45deg);transform: translateZ(-100px) translateX(65%) rotateY(-45deg); }
}
@media (min-width:761px){
    .effect-airbnb .perspective_container {-webkit-transition: -webkit-transform 0.4s;transition: transform 0.4s; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
    .effect-airbnb.animate .perspective_container { -webkit-transform: translateZ(-100px) translateX(17%) translateY(0%) rotateY(-45deg); transform: translateZ(-100px) translateX(17%) translateY(0%) rotateY(-45deg);    }
}
.no-csstransforms3d .effect-airbnb.animate .perspective_container { left: 75%;}
.effect-airbnb .outer-nav a { opacity: 0; -webkit-transform: translateX(-150px);transform: translateX(-150px); -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;transition: transform 0.4s, opacity 0.4s;}
.effect-airbnb.animate .outer-nav a {opacity: 1; -webkit-transform: translateX(0); transform: translateX(0);}
.header{  -webkit-transform: translateZ(0); position:fixed;  height:60px;  width:100%;  z-index:99999; top:0;  background-color:rgba(255,255,255,1); border-bottom:solid 1px rgba(0,0,0,0.1);}
.active-item{color:#e74c3c!important;}
#showMenu{ position:absolute; z-index:9999;left:0;top:0; text-align:center; color:#1f1f1f;}

/**app列表展示样式**/
.small_app .ui-slider-item{ height: 70px;}
.small_app .ui-slider-dots { background: #aaaaaa; border-radius: 10px; height: 14px; line-height: 14px; position: absolute; bottom: 6px; right: 50%; margin-right: -20px; padding: 0 6px; text-align: center;}
.small_app .ui-slider-dots > b{ background: #2468c9;}
.small_app .ui-slider-dots .ui-state-active{background: #FEFEFE;}
.small_app li{ float: left; width: 20%; height: 70px;}
.small_app li i{ font-size: 30px; font-weight: 800; color: #2773dc; margin-bottom: 5px;}
.small_app li p{ height: 28px; line-height: 28px;}

/**推荐板块样式**/
.tuijian{ overflow: hidden}
.list13 ul { position: relative }
.list13 ul li:before{content: "推荐"; position: absolute; left: 0; top: 0; height: 18px; line-height: 18px; color: #E7E7E7; width: 26px; background: #669900;}
.list13 li { position: relative; overflow: hidden; margin: 10px; padding: 10px; border: solid 1px #CCC; box-shadow: 0 0 3px #949494; background: #fff; }
.list13 li .con7_tit { height: 30px; overflow: hidden; font-size: 16px; font-weight: bold; color: #333; font-family: 'kaiti' }
.list13 li .cont { padding-top: 30px; height: auto !important; }
.list13 li .cont img { height: 150px; /*margin-bottom: 20px; border: dashed 1px #BDBDBD;*/ width: 320px; max-width: 100%; }
.list13 li .cont span { display: block; font-size: 13px; color: #333; text-indent:2em; line-height: 20px; height: 160px; overflow: hidden;}
.list13 li .cont span:after { content: "查看全文"; display: block; border-top: solid 1px #CCC; margin-top: 10px; height: 30px; font-size: 16px; font-weight: bold; color: #515151; line-height: 40px; }
.list13 li .cont span::before { content: ""; position: absolute; right: 10px; bottom: 15px; z-index: 3; width: 7px; height: 7px; border-color: #454545; border-style: solid; border-width: 0 2px 2px 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.list13 li .cont label { position: absolute; top: 30px; right: 10px; line-height: 40px; color: #4E4E4E; font-size: 12px; padding-left: 3px; }
.list13 .ui-slider-item{ height: auto}
.list13 .ui-slider-group{ white-space: normal}
.list13 .ui-slider-item{ background: #FEFEFE;}

/**首页友链样式**/
.foot{ margin-top: 10px;}
.anli { background-color: #09F; height: 35px; padding-left: 10px; color: #FFF; line-height: 35px; }
.anli .right a{ float:right; color:#fff; height: 35px; line-height: 35px; font-size:13px; padding-right:10px;}
.anli-list { padding: 10px; line-height: 25px; overflow: hidden; background-color: #FFF; text-align: center; word-wrap: normal; }
.anli-list a { display: block; float: left; padding: 2px 3px; margin: 5px; background-color: #FEFEFE; border: solid 1px #E0E0E0;outline: double 2px #F4F4F4; border-radius: 2px; color: #333; text-align: center; overflow: hidden; }
.dh_bg { background: #fff; border: 1px solid #dadada; margin: 10px; overflow: hidden; border-radius: 3px; }
.dh_kz { overflow: hidden; width: 100%; margin-bottom: -1px; }
.dh_kz a:nth-child(5n+1) { border-left: 0; }
.dh_kz a { width: 20%; float: left; font-size: 15px; height: 40px; line-height: 40px; overflow: hidden; box-sizing: border-box; -webkit-box-sizing: border-box; border-bottom: 1px dashed #dadada; border-left: 1px dashed #dadada; text-align: center; color: #000; }
.dh_kz a:hover { background: #FFFAF3; }
.dh_h3 { height: 20px; padding: 8px 0; color: #000; border-bottom: 1px solid #dadada; letter-spacing: 0; }
.dh_h3 p { border-left: 7px solid #2b73df; height: 20px; line-height: 20px; padding-left: 5px; color: #2b73df; font-weight: 600; }
.dh_h4 { height: 20px; padding: 8px 0; color: #000; border-bottom: 1px solid #dadada; letter-spacing: 0; }
.dh_h4 .new { float: right; line-height: 20px; font-size: 13px; color: #737373; margin-right: 10px; }
.dh_h4 .new img { vertical-align: middle; width: 15px; }
.dh_h4 p { border-left: 7px solid #ff7c00; height: 20px; line-height: 20px; padding-left: 5px; color: #ff7c00; font-weight: 600; float: left; }

/**全剧底部**/
.footer{width: 100%; background: #1c63cf; height: 100px; text-align: center;}
.footer .foot_nav{color: #AAA; font-size: 15px; padding-top: 10px; font-weight: normal;}
.footer .foot_nav a{color: #FEFEFE; padding-left: 10px; padding-right: 10px;}
.footer .ves{ margin-top: 10px; height: 28px; line-height: 28px; font-size: 14px;}
.footer .ves a{ color: #FFF; display: inline-block; width: 50px; height: 28px; text-align: center;}
.footer .ves .this_ves{ background: #0F33A0; height: 28px; line-height: 28px;}
.footer p { color: #abbde8; font-size: 10px; margin-top: 5px; line-height: 20px; }
.footer p a { color: #D1DAF3; }

/**返回顶部**/
.gotop{ opacity: 0.8; display:none;z-index:999;position: fixed; bottom: 30px; right: 10px; width: 40px; height: 40px; font-size: 34px; background: #669900; line-height: 34px; text-align: center; border-radius: 5px;}
.slade_popover{ z-index: 10;}
.slade_popover .slade_popover_btn{float:right; margin-top:8px;width: 40px; height: 20px;  font-size: 34px;color: #0099FF;line-height: 40px;text-align: center;}
.slade_popover .slade_popover_ul{background-color: #BFBFBF;border-radius: 6px; border: 1px solid rgba(0,0,0,0.2);-webkit-user-select: none; -webkit-box-sizing: border-box;margin: 0 44px 0 0; position: relative;}
.slade_popover .slade_popover_ul .ui-arrow{position: absolute; display: block; width: 0; height: 0; border: 11px solid transparent;top: 50%; margin-top: -11px; right: -11px; border-right-width: 0; border-left-color: rgba(0, 0, 0, 0.2);}
.slade_popover .slade_popover_ul .ui-arrow:after{position: absolute; display: block; width: 0; height: 0; border-width: 10px;content: ''; border: 11px solid transparent; border-right-width: 0; border-left-color: #BFBFBF;bottom: -10px; right: 1px;}
.slade_popover ul li{ width:60px; height: 50px; line-height: 50px; text-align: center;}

/***搜索框插件***/
.slade_search{z-index:100000; width: 100%;}
.slade_search form{position: relative; z-index:100001;}
.slade_search input{ display: inline-block; width: 60%; height: 30px; position: absolute; right: 15px; top:20px; border-radius: 8px; border: 1px #BEBEBE solid; padding:3px 55px 3px 5px;}
.slade_search span{ display: inline-block; width: 50px; line-height: 40px; font-size: 12px; position: absolute; right: 20px; top: 4px;z-index: 1000001}
.slade_search i{ position: absolute; left: 5px; top:30px; font-size: 14px}
.slade_search .slade_search_history{  z-index:100001;width: 78%; position: absolute; top: 58px; right: 18px;  background: #FEFEFE; border-radius: 5px;}
.slade_search .slade_search_history li{ height: 30px; line-height: 30px; padding: 0 8px; border-bottom: 1px solid #BEBEBE; position: relative;}
.slade_search  li i{ position: absolute; top: 7px; left: 94%; width: 14px; height: 15px;}
.slade_search .ul_setting{ height: 28px; line-height: 28px; text-align: right;  position: relative; padding-right: 24px;}
.slade_search .ul_setting i{ position: absolute; right: 10px; top: 5px;}


/*********加载完成样式pace匹配样式**************************/
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;

    -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px;

    -moz-background-clip: padding;  -webkit-background-clip: padding-box; background-clip: padding-box;

    -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none;  user-select: none;

    z-index: 2000; position: fixed;margin: auto; top: 12px; left: 0; right: 0; bottom: 0; width: 200px; height: 25px;border: 2px solid #29d; background-color: #fff;}
.pace .pace-progress { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;

    -webkit-border-radius: 5px;-moz-border-radius: 5px;  border-radius: 5px;

    -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;

    -webkit-transition: width 1s ease-in-out 1s linear;-moz-transition: width 1s ease-in-out 1s linear; -ms-transition: width 1s ease-in-out 1s linear; -o-transition: width 1s ease-in-out 1s linear; transition: width 1s ease-in-out 1s linear;

    -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);

    max-width: 190px; position: fixed; z-index: 2000; display: block; position: absolute; left: 3px; top: 3px;height: 15px; font-size: 12px; background: #29d; color: #29d; line-height: 60px; font-weight: bold; font-family:  Helvetica, Arial, "Lucida Grande", sans-serif;}
.pace .pace-progress:after {content:attr(data-progress-text); display: inline-block;}
.pace.pace-inactive {display: none;}

/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************************************************************************************/

/********************************论坛样式由此开始**************************/

/**快速通道**/
.bbs_quick{ height: 55px; text-align: center; color: #333333; margin-top: 10px; }
.bbs_quick ul{ width:100%; }
.bbs_quick ul li{ position: relative; height: 55px; float: left; width: 30%; margin-left: 10px; font-size: 14px; font-weight: 550; }
.bbs_quick li i{ font-size: 35px; color: #2299dd;}

/**新帖热帖**/
.bbs_hot{ margin-top: 10px;}
.bbs_hot .bbs_hot_title{position: relative; color: #FEFEFE; height: 30px; line-height: 32px; border-bottom: 1px solid #FF3300; border-top: 1px solid #333333;}
.bbs_hot .bbs_hot_active,.bbs_hot .bbs_new_active{ position: relative}
.bbs_hot .bbs_hot_active:before,.bbs_hot .bbs_new_active:before{content: ""; display: block; height: 0; width: 45%;  position: absolute; top: 0; }
.bbs_hot .bbs_hot_active:before{border-width:0 20px 30px 0; border-style: none solid solid; border-color: transparent transparent #FF3300; }
.bbs_hot .bbs_new_active:before{right: 0; border-width: 30px 0px 0px 20px; border-style: solid solid solid solid; border-color: #FF3300 transparent transparent transparent;}
.bbs_hot .bbs_hot_title h2{position: absolute;top:2px; font-weight: normal; font-size: 14px; color: #FEFEFE;}
.bbs_hot .bbs_hot_title .hot_h2{ left: 20%; margin-left: -5%; }
.bbs_hot .bbs_hot_title .new_h2{right: 20%; margin-right: -5%;}
.bbs_hot .bbs_new_active .hot_h2{color: #333333;}
.bbs_hot .bbs_hot_active .new_h2{color: #333333;}
.bbs_hot .bbs_hot_contents li{ height: 34px; line-height: 34px; border-bottom: 1px solid #BFBFBF; padding: 0 8px; position: relative; text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;}
.bbs_hot .bbs_hot_contents li:before{content: ""; position: absolute;  width: 6px; height: 6px;  right: 10px; top: 48%;  border: 1px solid; border-color: #cccccc #cccccc transparent transparent;  -webkit-transform: rotate(45deg);transform: rotate(45deg);}

/**tabs插件样式**/
.ui-tabs { -webkit-tap-highlight-color: rgba(0,0,0,0);}
.ui-tabs-nav { list-style: none; padding: 0; margin: 0; z-index: 11; position: relative;}
.ui-tabs-content { position: relative;min-height: 100px; width: 100%; -webkit-box-sizing: border-box; overflow: hidden;  -webkit-transition: height 200ms ease-in-out;}
.ui-tabs-content .ui-tabs-panel { display: none; position: absolute; top:0; left: 0;width: 100%; -webkit-box-sizing: border-box; min-height: 100px;}
.ui-tabs-panel { -webkit-transform: translateZ(0);}
.ui-tabs-content .ui-tabs-panel.ui-state-active, .ui-viewport-transitioning .ui-tabs-panel.out { display: block;  z-index: 1;}
.ui-tabs-content .ui-tabs-panel.ui-state-active { z-index: 2;}
.ui-tabs-nav { display: -webkit-box;  width: 100%;}
.ui-tabs-nav li{ width: 50%; height: 32px;}
.ui-tabs-nav li a{ display: inline-block; width: 100%; height: 32px;}

/*Transition插件基于动画样式CSS3*/
.ui-viewport-transitioning .ui-panel { width: 100%;  height: 100%; overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box;}
.ui-viewport-transitioning .ui-loading { -webkit-animation-name: none;}
.in {  -webkit-animation-timing-function: ease-out; -webkit-animation-duration: 350ms;}
.out {  -webkit-animation-timing-function: ease-in; -webkit-animation-duration: 225ms;}

/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
.slide.out, .slide.in {
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 350ms;
}
.slide.out {
    -webkit-animation-name: slideouttoleft;
    -webkit-transform: translateX(-100%);
}
.slide.in {
    -webkit-animation-name: slideinfromright;
    -webkit-transform: translateX(0);
}
.slide.out.reverse {
    -webkit-animation-name: slideouttoright;
    -webkit-transform: translateX(100%);
}
.slide.in.reverse {
    -webkit-animation-name: slideinfromleft;
    -webkit-transform: translateX(0);
}
.off,.on{ position: relative; -webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; -o-transition: all .2s ease-in; -ms-transition: all .2s ease-in; transition: all .2s ease-in;}
.off.tobottom,.on.toTop{
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 350ms;
}
.on.toTop{
    -webkit-animation-name: slideinfrombottom;
    -webkit-transform: translateY(0);
}
.off.tobottom{
    -webkit-animation-name: slideinfromtop;
    -webkit-transform: translateY(0);
}
@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}
@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}
.rotate_90,.rotate_180{
    transition:transform .4s ease-out;
    -webkit-transition:transform .4s ease-out;
    -moz-transition:transform .4s ease-out;
    -o-transition:transform .4s ease-out;;
    -ms-transition:transform .4s ease-out;
}
.rotate_90{
    transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rotate_180{
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
}

/**论坛板块**/
.bbs_items{ margin-top: 10px; padding: 10px;}
.bbs_items .bbs_items_ul{ border: 1px solid #BFBFBF; border-bottom: none;margin-top: 10px; overflow: hidden}
.bbs_items .bbs_items_ul > p{ height: 34px; line-height: 34px; border-bottom: 1px solid #BFBFBF; padding-left: 10px;}
.bbs_items .bbs_items_ul > p i{ float: right; font-size: 24px; margin-top: 5px;}
.bbs_items .bbs_items_ul li{ height: 60px; overflow: hidden; border-bottom: 1px solid #BFBFBF; padding: 5px 8px; position: relative;}
.bbs_items .bbs_items_ul .bbs_items_img{ position: absolute; height: 100%; min-width: 55px; text-align: center;}
.bbs_items .bbs_items_ul .bbs_items_img i{ font-size: 35px; color: #0066FF;}
.bbs_items .bbs_items_ul .bbs_items_new{ position: absolute; height: 100%; line-height: 55px; margin:0 10px 0 70px; width: 50%;overflow: hidden;}
.bbs_items .bbs_items_ul .bbs_items_new a:before{ content: "[新]"}
.bbs_items .bbs_items_ul .bbs_items_count{ position: absolute; right: 10px; line-height: 55px;}
.bbs_items .bbs_items_ul .bbs_items_count i{ font-size: 12px; font-weight: 600; font-family: "sans-serif"}
.bbs_items .bbs_items_ul .bbs_items_count span{ background: #FF3300; display: inline-block; width: 16px; height: 16px; text-align: center; line-height: 17px; margin: 5px; border-radius: 50%; color: #FEFEFE}

/**会员新动态**/
.bbs_useraction{ margin-top: 10px;}
.bbs_useraction .bbs_useraction_title{ height: 30px; line-height: 30px; position: relative; border-bottom: 1px solid #FF3300;}
.bbs_useraction .bbs_useraction_title:before{content: ""; display: block; height: 0; width: 70px;  position: absolute; top: 0;border-width:0 20px 30px 0; border-style: none solid solid; border-color: transparent transparent #FF3300;}
.bbs_useraction .bbs_useraction_title h2{ position: absolute; left: 2px; color: #FEFEFE}
.bbs_useraction .bbs_useraction_contents{ padding: 5px;}
.bbs_useraction .bbs_useraction_contents li{ height: 34px; line-height: 34px; overflow: hidden;}

/**快速发帖样式**/
.crearbbs .creatbbs_heard{position: relative; height: 44px; line-height: 44px; border-bottom: 1px solid #ccc;text-align: center;color: #000;opacity: .9;background: #fff;filter: alpha(opacity:90); font-size: 18px;}
.crearbbs .creatbbs_heard a{font-size: 28px; position: absolute; left: 0;display: inline-block; width: 20px; height: 45px;position: absolute;top: 3px;left: 10px;background-position: 0px -25px; padding-right: 15px;}
.crearbbs .input_title { border-bottom: 1px solid #dbdbdb; padding-right: 10px; position: relative;  margin: 10px;}
.crearbbs input, .crearbbs textarea {padding: 10px 10px 10px 0; border: 0;width: 100%; font-size: 15px;}
.ml10{margin: 10px;}
.crearbbs .subbbs{ text-align: center; float:right;width: 58px; height: 33px; border-radius: 2px; color: #fff; background: #ff6600;  margin: 6px 0; font-size: 16px;}
.crearbbs .selectbbs{ height: 30px; line-height: 30px;}

/**频道页页面样式由此开始**/
.pd_header .pd_title{ height: 40px; line-height: 40px; text-align: center; font-size: 18px; border-bottom: 1px solid #BEBEBE;}
.lanmu_title{ height: 40px; line-height: 40px; padding: 0 20px; position: relative;font-size: 14px; border-bottom: 1px solid #BEBEBE; font-style: normal;}
.lanmu_title h2:before{content: ""; width: 5px; height: 20px; background: #0099FF; position: absolute; top: 10px; left: 10px;}
.pd_lanmu{ background: #BEBEBE; padding: 5px; }
.pd_lanmu li{ line-height: 30px; float: left; margin: 0 10px;}

/**加载更多组件**/
.ui-refresh .ui-refresh-up, .ui-refresh .ui-refresh-down{ background: #fff; padding: 1em 10px; border-bottom: 1px solid #ccc; font-size: 14px; color: #888; text-align: center;}
@media all and (min-device-width: 768px) and (max-device-width:1024px) {
    .ui-refresh .ui-refresh-up, .ui-refresh .ui-refresh-down{font-size: 16px;;  }
}
.ui-refresh .ui-refresh-up .ui-loading,.ui-refresh .ui-refresh-down .ui-loading{ display: inline-block;  width: 25px;  height: 25px; -webkit-background-size: 25px 25px;vertical-align: middle;}
.ui-refresh .ui-refresh-up .ui-refresh-label,
.ui-refresh .ui-refresh-down .ui-refresh-label{ display: inline-block; vertical-align: middle;color: #2E435D;}
/**加载时的样式**/
.ui-loading {
    width: 40px;
    height: 40px;
    text-indent: -10000px;
    background: url('ui-loading.png') 0 0 no-repeat;
    -webkit-background-size: 40px 40px;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
    from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*******************************************************************************************
  *********************导航页样式***********************************************************
  *****************************************************************************************/
.dh{margin: 10px 0; font-size: 15px;}
.dh .category {border: 1px solid #E1E2E3;border-top: 0;border-radius: 2px;overflow: hidden; background: #fff;}
.dh .title {border-radius: 1px 1px 0 0;border-top: 1px solid #00afeb;color: #00afeb; position: relative; height: 38px; line-height: 38px; overflow: hidden; border-bottom: solid 1px #eaecee;margin: 0;}
.dh .title strong { padding-left: 21px; float: left; font-size: 18px; font-weight: normal;}
.dh .title strong:before { content: ''; display: inline-block; width: 3px; height: 14px; border: 1px solid #D9D9D9; border-radius: 3px; box-shadow: 0 -1px 0 #B0B0B0; background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#F5F5F5)); background: linear-gradient(top,#EEE,#F5F5F5); position: relative; right: 8px; top: 3px;}
.dh .catebox {display: -webkit-box;-webkit-box-pack: justify; border-bottom: 1px dashed #EAECEE;-webkit-box-sizing: border-box; margin: 0 3px; text-align: center;}
.dh .subcate {width: 20%;line-height: 40px; color: #1272c8; position: relative;}
.dh .subcate a {display: block;height: 40px; color: #1272c8;}
.dh .subcate:after { height: 1px; line-height: 1px; font-size: 0; width: 27px; position: absolute; content: ""; top: 26px; left: 50%; margin-left: -13px;overflow: hidden; border-bottom: 1px solid #1272C8;}
.dh .threecate { width: 80%; border-left: 1px dashed #EAECEE;-webkit-box-sizing: border-box; -webkit-box-flex: 1;}
.dh .catelist { width: 100%; display: block; overflow: hidden;}
.dh .catelist a { width: 20%; line-height: 40px; float: left;}
.dh .catelist li a {overflow: hidden; height: 40px; display: block;}
.dh .goshow:after { content: ''; width: 6px; height: 6px; display: inline-block; border: #A8A8A8 solid; border-width: 1px 1px 0 0; -webkit-transform: rotate(45deg); line-height: 6px; position: relative; top: -1px; left: -3px;}
.dh .gohide:after { content: ''; width: 6px; height: 6px; display: inline-block; border: #A8A8A8 solid;border-width: 1px 1px 0 0;-webkit-transform: rotate(-45deg); line-height: 6px; position: relative; top: 0;left: -3px;}
.dh .boxShadow { border: 1px solid #E1E2E3; border-radius: 2px; background: #fff;  margin-bottom: 6px;}
.dh .ullist { overflow: hidden; position: relative;}
.dh .ullist a { line-height: 40px; width: 25%; border-right: 1px dashed #EAECEE; -webkit-box-sizing: border-box; float: left; border-bottom: 1px dashed #EAECEE; position: relative; bottom: -1px;}
.dh .ullist a { display: block; overflow: hidden; height: 40px; text-align: center;}
.dh .dh_add{width: 180px; margin: 10px auto; border: 1px solid #BFBFBF; height: 45px; line-height: 45px; text-align: center; border-radius: 8px;background: #FE8456;}



/**公共样式**/
.siwpt_up{ display: block;  height: 34px; line-height: 34px; width: 100%; font-size:24px; text-align: center; position: absolute; bottom:5px;}
.add_box{ height: 34px; line-height: 34px; background: #BEBEBE; padding: 0 10px;}
.add_box .ad_title{ background: #2773dc; float: left; padding: 0 10px; height: 24px; margin-top: 5px; line-height: 24px; color:#FF00FF;}
.add_box p{ margin-left: 67px; position: relative; height: 34px; line-height: 34px;}
.add_box p i{float: right; font-size: 18px; line-height: 34px;}
.box{border:1px solid #BEBEBE; padding: 5px; width: 90%; margin: 10px;}
.more_btn{ height: 34px; line-height: 34px; text-align: center; background: #BEBEBE;}
.displayshow{display: block;}
.displayhide{display: none;}
.clear{ float: none; clear: both;}
